<html>
    <head>
        <title>App Express</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <h1>Web development with Node and Express 2nd edition examples</h1>
        </header>
        <h2>Greeting</h2>
        <h3>Message:</h3>
        {{message}}
        <h3>Style:</h3>
        {{style}}
        <p>example: <a href="/greeting/?style=fancy">/greeting/?style=fancy</a></p>
        <h3>UserId: (from cookies)</h3>
        {{userid}}
        <p>click <a href="/random-userid">here</a> to change randomly</p>
        <h3>Username (from session)</h3>
        {{username}}
        <p>click <a href="/random-username">here</a> to change randomly</p>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</html>