<html>
    <head>
        <title>App Express</title>
    </head>
    <body>
        <header>
            <h1>Web development with Node and Express 2nd edition examples</h1>
        </header>
        <h2>Greeting</h2>
        <h3>Message:</h3>
        {{message}}
        <h3>Style:</h3>
        {{style}}
        <p>example: <a href="/greeting/?style=fancy">/greeting/?style=fancy</a></p>
        <h3>UserId: (from cookies)</h3>
        {{userid}}
        <p>click <a href="/random-userid">here</a> to change randomly</p>
        <h3>Username (from session)</h3>
        {{username}}
        <p>click <a href="/random-username">here</a> to change randomly</p>
    </body>
</html>