<html>
    <head>
        <title>App Express</title>
    </head>
    <body>
        <header>
            <h1>Web development with Node and Express 2nd edition examples</h1>
        </header>
        {{{body}}}
    </body>
</html>