<style>
    *{
        box-sizing: border-box;

    }
    body{
        font-family: 'Water Brush', cursive;
    }

    .col{
        text-align: center;

        margin: 0 auto;
    }

    .col img{
        width: 600px;
        height: 396px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .col h3{
        position: absolute;
        background-color: antiquewhite;
        height: 100px;
        width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 28%;
        opacity: 0.7;
    }
    .col h3 a{
        text-decoration: none;
        color: black;   
    }
    .col .title{
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
        <div class="title">
        <h3><a href="./newyear">Happy New Year</a></h3>
        </div>
      <img src="./img/newyear.jpg">
    </div>
    <div class="col">
        <div class="title">
        <h3><a href="./summer">Happy Summer Holiday</a></h3>
        </div>
      <img src="./img/summer.jpg">
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
        <div class="title">
        <h3><a href="./mid-autumn">The best weather in the year</a></h3>
        </div>
      <img src="./img/midautumn.webp">
    </div>
    <div class="col">
        <div class="title">
        <h3><a href="./christmas">Merry Christmas</a></h3>
        </div>
      <img src="./img/christmast.jpg">
    </div>
  </div>
</div>