<style>
    *{
        margin: 0;
    }
    .banner{
        margin-top: 0 auto;
    }
    .banner img{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -9999;
    }
    button{
        position: absolute;
        top: 50%;
        left: 75%;
        background-color: brown;
        border: none;
        border-radius: 10px;
        width: 200px;
        height: 50px;
    }
    a{
        text-decoration: none;
        color: white;
    }
</style>
<div class="banner">
    <img src="./img/Korean Food Background Banner.jpg">
    
</div>
<button><a href="/register">Register now!</a></button>